.Profile{
    margin: 40px auto;
    padding: 15px;
    max-width: 1040px;
}
.top-row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.img-row{
    margin: 20px 15px;
}
.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.img{
   width: 100%;
   height: auto;     
}