.Card{}
.file-input{
    display: none;
}
.profile-img-container{
    height: 150px;
    width: 150px;
}
.profile-img-content{
    background-color: rgba(var(--b3f,250,250,250),1);
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.img-button{
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%;
}
.img-button img{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}