.Profile{
    margin: 40px auto;
    padding: 15px;
    max-width: 1040px;
}
.Profile .add-post-btn{
    height: fit-content;
    background-color: #2196f3;
    align-self: center;
    margin-top: 10px;
}
.top-row{
    display: flex;
    gap:30px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.line{
    border-color: #eeeeee47;
    border-width: 0.1px;
}
.img-row{
    margin: 20px 15px;
}
.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.img{
   width: 100%;
   height: auto;     
}